      html,
      body,
      #game-container {
        margin: 0;
        padding: 0;
      }

     body {
    background-image: url('assets/backgrounds/indexBodyBackground.jpg');
      opacity: .5;
    background-size: cover; 
    background-position: center; 

}

      #game-container {
        min-width: 100vw;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #game-container > canvas {
        border-radius: 5px;
      }

@font-face {
    font-family: 'Knewave' system-ui;
    src: url('styles/fonts/Knewave-Regular.ttf'); 
}
